@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #0F0E0E 40%, #0E004F 70%);
}

.header {
    width: 100%;
    height: 5rem;
    left: 0px;
    top: 0px;
    background-color: #050710;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    position: sticky;
}


.logo {
    width: 19rem;
    height: auto;

}

.grid-logo{
    padding-left: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pesquisa {
    background: none;
    box-sizing: border-box;
    height: 2rem;
    width: 25rem;
    border: 0.5px solid rgba(252, 252, 252, 0.5);
    border-radius: 8px 0 0px 8px;
    color: white;
    padding-inline: 1rem;

}

.pesquisa::placeholder {
    color: white;

}

/*coisa do botao de pesquisa do nosso best*/
#containerPesquisa{
    background-color: white;
    max-width: 100%;
    margin: auto;
}

#results{
    margin-top: 1 rem;
    border: 0.1rem solid #ccc;
    max-height: 20rem;
    overflow-y: auto;
}

#results div{
    padding: 1rem;
    border-bottom: 0.1rem solid #ddd;
    cursor:pointer;
   
}

#results div:hover{
    background-color: #f0f0f0;
}

.search {
    height: 1.4rem;
    width: 1.4rem;

}

.grid-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-source {
    background: none;
    height: 2rem;
    width: 3rem;
    border: 0.5px solid rgba(252, 252, 252, 0.5);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

.btn-login {
    background: none;
    height: 2rem;
    width: 9rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 0.5px solid rgba(252, 252, 252, 0.5);
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}

.btn-cadastro {
    background: linear-gradient(91.53deg, #231EFF 0%, #2900cd 100%);
    height: 2rem;
    width: 9rem;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 0.5px solid rgba(252, 252, 252, 0.5);
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}
.grid-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    background-attachment: scroll;
    background-color: #050710;
    height: 2.5rem;
}

.menu-btn {
    background: none;
    height: auto;
    width: 3rem;
    border-style: none;
    cursor: pointer;
    margin-left: 3rem;
}

.btn-prod {
    color: white;
    margin-left: 2rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

a:hover {
    color: #583cc7;
}

.container {
    height: 30rem;
    display: grid;
    
}
.grid-banner{
    grid-column: 2 ;
}

.grid-slogan{
    display: flex;
    justify-content: center;
    padding-right: 10rem;
    align-items: end;
}

.container-grid-slogan{
    display: grid;
    grid-template-rows:  15rem 5rem 10rem;
    gap: 0;
}
.slogan {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    margin: 0;
    background: linear-gradient(to right, #adb5f4, #ffffff);
    background-clip: text;
    color: transparent;
}

.grid-desc{
    display: flex;
    justify-content: center;
}

.desc {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    background: linear-gradient(to right, #bcadf4, #ffffff);
    background-clip: text;
    color: transparent;
    margin: 0;
}

.banner {
    border-radius: 3rem;
    height: 24rem;
    margin-top: 3rem;
}

#cadastro {
    background: linear-gradient(91.53deg, #231EFF 0%, #2900cd 100%);
    height: 2.8rem;
    width: 14rem;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.grid-cadastro{
    display: flex;
    justify-content: center;
    padding-right: 18rem;
}


.titulo-prod{
    height: 3rem;
    width: auto;
    margin-top: 5.5rem;
    
}

.subtitulo-prod{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.grid-container-desc{
    grid-column: 3 / span 5;
}

.prod-rel{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.prod-rel > h1{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
   
}

.container-prod{
    margin-top: 3rem;
    grid-column: 1 / span 5;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
}

.produto{
    display: grid;
    grid-template-rows: auto auto;
    background-color: #101011;
    height: 20rem;
    width: 15rem;
    border: 0.1rem solid white;
}



.img-cam{
    height: 15rem;
    width: 15rem;
}

.container-desc-cam{
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    border-top: 0.1rem solid white;
}

.desc-img-cam{
    font-size: 1.2rem;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow:ellipsis;
}

.desc-img-cat{
    font-size: 1.2rem;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}



.cat {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #101011;
    height: 15rem;
    width: 15rem;
    border: 0.1rem solid white;
}

.categoria{
    font-size: 1.2rem;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}
.img-cat{
    height: 12rem;
    width: 12rem;
}

/* .produto {
    margin-top: 4rem;
    margin-left: 7rem;
    background-color: #adb5f4;
    height: 20rem;
    width: 15rem;
    border-radius: 1rem;
} */

/*footer*/

footer {
    background-color: #0F0E0E;
    padding: 20px;
    margin-top: 7rem;
   
}


.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; 
    margin-top: 2rem;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #8d8d8d;
}


/*
.logo-footer{
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */

 /* parte que o pin vai ter que ajeitar*/
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center; /*essa parte não pode mudar, é o que faz ele ficar encima de tudo*/
    z-index: 999; 
    visibility: hidden; 
}

/*mudar daqui pra baixo*/

.produto-detalhes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 47% 10% 29% 14%;
    padding: 2rem;
    max-width: 50rem;
    max-height: 40rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.preco-detalhes{
    font-family: "Ubuntu Mono", monospace;
    font-size: 2em;
    margin: 0;
    font-weight: 800;
    color: #469fff;
}

.img-detalhes {
    grid-row: 1 / span 4;
    width: 20rem; 
    border-radius: 0.5rem;
}

.produto-detalhes h2 {
    font-size: 2rem; 
    margin-bottom: 1rem;
}

.descricao-detalhes { 
    font-size: 1.5rem;
    margin: 0;
}

.btn-comprar {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    line-height: 1rem;
    cursor: pointer;
}

.span-comprar{
    text-align: left;
    font-size: 1.2em;
    color: white;
}

.span-comprar small{
    font-size: 0.7rem ;
    color: white;
}

.btn-comprar:hover {
    background-color: #0056b3; /
}

.btn-fechar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: #9c9c9c;
    cursor: point;
}
