body{
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    background-color: rgba(0, 1, 12, 0.932);
}

.perfil{
    border-radius: 5px;
    width: 50rem;
    height: 30rem;
    background-color: #050710;
}

.foto-perfil {
  
}
